---
import "../components/reset.css"
import Navbar from '../components/Navbar';
import { Image } from 'astro:assets';
import myImage from "../fondo.jpg";
---
<body>
<Navbar client:load/>
<Image src={myImage} alt="Un pájaro sentado sobre un nido de huevos." width={100} margin:{0} padding:{0}/>
</body>
