---
import React from 'react'
import '../components/reset.css'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import fondo from '../fondo.jpg'
import portfolio from "../layouts/portfolio.css"
---

<astro-fragment>
  <meta ="UTF-8" />
  <main>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="./index">OYU</a></li>
            <li><a href="./portfolio">PORTFOLIO</a></li>
            <li><a href="./galery">GALERIA</a></li>
            <li><a href="./about">SOBRE MI</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <marquee><h1>ESTA PÁGINA ESTA EN COSNTRUCCIÓN FECHA DE FINALIZACIÓN MARTES 26</h1></marquee>
    <div class="fondo">
      <img ={fondo} alt="Un pájaro." width="1180" />
    </div>
    <Footer />
  </main>
</astro-fragment>