---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import myImage from "../fondo.jpg";
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<div class="container">
				<nav>
					<ul>
						<li><a href="#">OYU</a></li>
						<li><a href="">PORTFOLIO</a></li>
						<li><a href="">GALERIA</a></li>
						<li><a href="">SOBRE MI</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<marquee><h1>ESTA PÁGINA ESTA EN COSNTRUCCIÓN FECHA DE FINALIZACIÓN MARTES 26</h1></marquee>
		<div class="imagenfondo">
			<Image src={myImage} alt="Un pájaro."/>
		</div>
		<footer>

		</footer>
	</main>
	
	<style>

	.imagenfondo{
		background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;

	}

		.container {
    		margin: 0 auto;
   			padding: 0px;
		}
		
  nav {
    text-align: right; 
    text-color: #FFF; 
    padding: 10px 0;
	z-index: 999;
  }

  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline; 
    margin-left: 20px; 
  }

  ul li:first-child {
    margin-left: 0; 
  }

  ul li a {
    color: white; 
    text-decoration: none; 
  }

  .fondo {
    background-image: url('../fondo.jpg');
  }
  
h1 {
	color:white;
}

	</style>
	</Layout>