---
import "../components/reset.css"
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import myImage from "../fondo.jpg";
---

<Layout title="Welcome to Astro.">
	<meta charset="UTF-8"/>
	<main>
		<header>
			<div class="container">
				<nav>
					<ul>
						<li><a href="./index">OYU</a></li>
						<li><a href="./portfolio">PORTFOLIO</a></li>
						<li><a href="./galery">GALERIA</a></li>
						<li><a href="./about">SOBRE MI</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<marquee><h1>ESTA PÁGINA ESTA EN COSNTRUCCIÓN FECHA DE FINALIZACIÓN MARTES 26</h1></marquee>
		<div class="fondo">
			<Image src={myImage} alt="Un pájaro." width="1180" ;/>
		</div>		
			<Footer/>
	</main>
	
	<style>

		.container {
    		margin: 0 auto;
   			padding: 0px;
		}
		
  nav {
    text-align: right; 
    text-color: #FFF; 
    padding: 10px 0;
	z-index: 999;
  }

  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline; 
    margin-left: 20px; 
  }

  ul li:first-child {
    margin-left: 0; 
  }

  ul li a {
    color: white; 
    text-decoration: none; 
  }

 	 .fondo {
    	background-image: url('../fondo.jpg');
		background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;

		
  }
  
h1 {
	color:white;
}

	</style>
	</Layout>