---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		Portfolio Oyu
		<header>
			<div class="container">
				<nav>
					<ul>
						<li><a href="#">OYU</a></li>
						<li><a href="">PORTFOLIO</a></li>
						<li><a href="">GALERIA</a></li>
						<li><a href="">ENCARGOS</a></li>
						<li><a href="">SOBRE MI</a></li>
						<li><a href="">F.A.Q</a></li>
						<li><a href="">T.O.S</a></li>
					</ul>
				</nav>
			</div>
		</header>
	</main>
	
	<style>
		.container {
			max-width: 1200px;
    		margin: 0 auto;
   			padding: 20px;
			justify-content: space-between;
		}

  nav {
    text-align: right; 
    background-color: #333; 
    padding: 10px 0; 
  }

  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline; 
    margin-left: 20px; 
  }

  ul li:first-child {
    margin-left: 0; 
  }

  ul li a {
    color: white; 
    text-decoration: none; 
  }

  .fondo {
    background-image: url('../fondo.jpg');
  }
	</style>


<astro-fragment>
  <div class="fondo">
    
  </div>
</astro-fragment>
	</Layout>