---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		Portfolio Oyu
		<header>
			<nav>
				<ul>
					<li><a href="#">OYU</a></li>
					<li><a href="">PORTFOLIO</a></li>
					<li><a href="">GALERIA</a></li>
					<li><a href="">ENCARGOS</a></li>
					<li><a href="">SOBRE MI</a></li>
					<li><a href="">F.A.Q</a></li>
					<li><a href="">T.O.S</a></li>
				</ul> 
			</nav>
		</header>
	</main>
	<style>
		nav {justify-content: space-between;}
	</style>
	</Layout>