---
import "../components/reset.css";
import { Image } from 'astro:assets';
import myImage from "../fondo.jpg";
import Navbar from "../components/Navbar.jsx";
---


<body>
<Navbar client:load/>
<Image src={myImage} alt="Un pájaro sentado sobre un nido de huevos." width="1050"/>
</body>